a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
  text-decoration: none;
}

h1 {
  color: black;
  text-shadow: blue 1px 0 10px;
}

h2 {
  color: #90ee90;
}

body{
  background-color: antiquewhite;
}
